*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

@import "./1.header/header.scss";
@import "2.Easy/easy.scss";
@import "3.progress/progress.scss";
@import "4.services/services.scss";
@import "5.aboutUs/about-us.scss";
@import "6.OurTeam/ourTeam.scss";
@import "7.Contact/contact.scss";
@import "footer/footer.scss";