@import "./../settings/variables.scss";
@import "./../settings/mixins.scss";
@import "./../settings/font.scss";

.block_Easy{
    margin-bottom: 100px;
    
    & h2{
        @include adaptiv-fon(60, 24);
        font-family: 'SemiBold';
        text-align: center;
        margin: 0 auto;
    }

    & h3{
        @include font('SemiBold', 0, #b0bec5);
        @include adaptiv-fon(33.33 , 24); 
        //width: 590px;
        @include adaptiv-block(250, 390);
        margin: 20px auto;
    }

    & .text{
        @include font('Raleway', 0, #b0bec5);
        @include adaptiv-fon(20, 14); 
        text-align: center;
        width: 810px;
        margin: 0 auto;
        line-height: 2;
        margin: 0 auto 90px auto;
    }

    & .easy_list{
        @include flex-header(flex, space-around, flex-end); 
        text-align: center;
        list-style-type: none;
        margin-bottom: 75px;

        & .easy_item{

            & .easy_img{
                margin-bottom: 40px;
            } 

            & .easy_titel{
                @include adaptiv-fon(20, 14); 
                margin-bottom: 15px;
            }

            & .easy_text{
                line-height: 1.5;
                color:#78909c;
            }
        }
    }

    & .easy_start_link{
        display: block;
        font-family: 'RalewayBold';
        width: 159px;
        height: 55px;
        margin: 0 auto;
        text-transform: uppercase;
        border-radius: 5px;
        text-decoration: none;
        -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
        @include button_in_section(#1de9b6, #fff, 1px solid #1de9b6); 

        &:hover{
            @include button_in_section(#fff, #1de9b6, 1px solid #1de9b6); 
        }
    }
}

@media (max-width:991px){
    .block_Easy{  
        & h3{
            width: 100%;
            margin: 20px 0;
            text-align: center;
        }
    
        & .text{
            width: 100%;
        }
    }
}