.contact{
    margin-top: 50px;
    margin-bottom: 100px;

    & h2{
        @include adaptiv-fon(60, 24);
        font-family: 'SemiBold';
        text-align: center;
        margin: 0 auto;
    }

    & .text{
        @include font('Raleway', 0, #b0bec5);
        @include adaptiv-fon(19, 14); 
        text-align: center;
        width: 810px;
        margin: 0 auto;
        line-height: 2;
        margin: 30px auto 90px auto;
    }

    & .contact_form{
        display: flex;
        
        & .form{
            margin: 0 auto;
            width: 700px;

            & .elements_form{
                & .input_form{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    & input{
                        @include input(330px,  1px solid #061e37, 10px, 20px, 20px 0 20px 20px);

                        outline: none;
                    }
                    & input::placeholder{
                        @include font('RalewayMedium', 14, #061e37);       
                    }
                }

                & textarea{
                    outline: none;
                    resize: none;
                    overflow: auto;
                    @include input(100%,  1px solid #061e37, 10px, 20px, 20px 0 120px 20px);
                }
                & textarea::placeholder{
                    @include font('RalewayMedium', 14, #061e37);       
                }
            }

            & .last__elements__input{
                width: 100%;
                display: flex;
                @include flex-header(flex, space-between, center);

                & .checkbox{
                    @include flex-header(flex, space-between, center);
                    cursor: pointer;
                    & .checkbox__input{
                        border: 1px solid #061e37;
                        outline: none;
                    }

                    & .checkbox__input:hover{
                        border: 1px solid #061e37;
                        outline: none;
                    }

                    & .checkbox__label{
                        margin-left: 10px;
                    }
                }
    
                & .btn{
                    display: block;
                    font-family: 'RalewayBold';
                    width: 130px;
                    padding:15px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
                    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
                    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
                    @include button_in_section(#1de9b6, #fff, 1px solid #1de9b6); 
    
                    &:hover{
                        @include button_in_section(#fff, #1de9b6, 1px solid #1de9b6); 
                    }
                } 
            }
        }
    }
}

@media (max-width:991px){
    .contact{  
        & .text{
            width: 100%;
        }
    }
}

@media (max-width:767px){
    .contact{
        margin-top: 50px;
        margin-bottom: 50px;
    
        & .text{
            width: 90vw;
            line-height: 1.5;
            margin: 30px auto;
        }
        & .contact_form{
            & .form{
                width: 100vw;
                & .elements_form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & .input_form{
                        justify-content: center;
                        & input{
                            @include input(90vw,  1px solid #061e37, 10px, 20px, 20px 0 20px 20px);
                        }
                    }
    
                    & textarea{
                        @include input(90vw,  1px solid #061e37, 10px, 20px, 20px 0 120px 20px);
                    }
                }
    
                & .last__elements__input{
                    width: 100vw;
                    height: 100px;
                    display: flex;
                    @include flex-header(flex, space-around, center);
                    flex-direction: column;
                }
            }
        }
    }
}

