.footer{
    background:#061e37;
    width: 100%;
    height: 300px;
    @include flex-header(flex, space-between, 0);
    & .footer_contact{
        width: 320px;
        margin: 0 0 0 60px;
        @include flex-footer(flex, column, center);
        & .footer_contact_list{
            margin-top: 40px;
            padding: 0;
            @include flex-header(flex, space-between, 0);
            & li:first-child{
                list-style-type: none;
                cursor: pointer;
            }
            & li{
                cursor: pointer;
                color: white;
                & a{
                    @include font('Raleway', 14px, #a2a6ac);
                    text-decoration: none;   

                    &:hover{
                        text-decoration:underline 
                    }
                }    
            }
        }
    }
    & .footer_information{
        width: 450px;
        margin: 0 80px 0 0;
        @include flex-footer(flex, column, center);
        & .footer_information_list{
            @include flex-header(flex, space-between, 0);
            margin-bottom: 40px;
            list-style-type: none;
            padding: 0;
            & li{
                cursor: pointer;
                
                & a{
                    @include font('RalewaySemiBold', 14px, #fff);
                    text-decoration: none; 

                    &:hover{
                        text-decoration:underline 
                    }
                }
            }
        }
        & .person_content_socialNetwork{
            @include flex-header(flex, flex-end, center);

            & img{
                margin-left: 25px;
            }
        }
    }
}


@media (max-width:767px){
    .footer{
        width: 100vw;
        @include flex-header(flex, space-evenly, center);
        flex-direction: column;
        & .footer_contact{
            width: 320px;
            margin: 0 0 0 25px;
            @include flex-footer(flex, column, flex-start);

            & .footer_contact_list{
                margin-top: 20px;
                @include flex-header(flex, space-between, 0);
            }
        }
        & .footer_information{
            width: 70vw;
            margin: 0 25px 0 0;
            @include flex-footer(flex, column, flex-end);
        }
    }
    
}


@media (max-width:575px){
    .footer{
        height: 250px;
        & .footer_contact{
            width: 100vw;
            margin: 0 0 0 0;
            & .footer_logo{
                & img{
                    margin-left: 5vw;
                }
            }

            & .footer_contact_list{
                @include flex-header(flex, space-around, 0);
            }
        }
        & .footer_information{
            width: 100vw;
            margin: 0 0 0 0;
            @include flex-footer(flex, column, false);
            align-items: center;
            & .footer_information_list{
                width: 100vw;
                margin-bottom: 20px;
                justify-content: space-around;
            }
            & .person_content_socialNetwork{
                width: 50vw;
                @include flex-header(flex, space-between, center);
    
                & img{
                    margin-left: 0;
                }
            }
        }
    }
    
}